<!DOCTYPE html>
<html>

<head>

</head>

<body>
    <div class="pt-1" style="background-color:#24292e; padding-bottom: 4px; margin-top: 20px !important;">
        <p class="text-center mt-2" style="color: #fff;">Made with 💙.
            Copyrights &copy; 2020. All rights are reserved</p>
    </div>
</body>

</html>